:root {
    --light-purple: #f1ebf9;
}


.recent-pubs h3.title {
    border-bottom: none;
    font-size: 100%;
    margin-bottom: 1px;
}

.recent-pubs p {
    margin-top: 1px;
}

.recent-pubs p.type {
    font-size: 80%;
}

/* We get some empty links from the RSS for some reason; make them not look like links */
.recent-pubs a.link[href="#"] {
    text-decoration: none;
    cursor: default;
}


div.recent-pubs {
   border-radius: 0.7em;
   background: var(--light-purple);
   padding: 1em;
   padding-top: 0.1em;
   margin-bottom: 1em;
   min-width: 190px;
}
